.listitem {

  @apply pt-2 px-0 pb-4 mt-4 mx-auto mb-2 flex max-w-sm;

  border-bottom: 1px solid hsl(0, 0%, 89%);
}
  
  .listitem__thumbnail img {

    @apply mr-4;

    max-width: 10em;
  }
  
  .listitem__content h2 {

    @apply mt-0

  }
  
  .article {

    @apply max-w-2xl mx-3 my-auto

  }

  .postname {
    
    @apply text-lg mb-2;
  }
  
  .postmeta {

    @apply text-center text-xl

  }
  
  .article img {
    height: auto;
  }