.container {

  @apply flex-col justify-center content-center py-0 px-2 min-h-screen

}

.main {

  @apply py-20 px-0 flex-1 flex flex-col justify-center items-center

}

.footer {

  @apply w-full h-28 flex justify-center items-center;

  border-top: 1px solid #eaeaea;

}

.footer img {
  margin-left: 0.5rem;
}

.footer a {

  @apply flex justify-center items-center

}

.title a {

  @apply no-underline; 

  color: #0070f3;
}

.title a:hover,
.title a:focus,
.title a:active {
  
  @apply underline

}

.title {

  @apply m-0 text-6xl leading-tight

}

.title,
.description {

  @apply text-center

}

.description {

  @apply leading-normal text-2xl

}
